<ion-searchbar
  [(ngModel)]="pagesService.commonFilter"
  (ionChange)="pagesService.setUsers('Other', 1)"
  [placeholder]="languageService.dictionary.data?.components.add.search">
</ion-searchbar>

<div *ngFor="let user of pagesService.getOther()" class="user">
  <div *ngIf="!pagesService.waiting">
    <ion-row>
      <ion-col size="6">
        <p class="username">{{user.username}}</p>
      </ion-col>
      <ion-col *ngIf="!user.boolFriend[0]
      && !user.boolExitingFriendRequest[0]
      && !user.boolEnteringFriendRequest[0]">
        <ion-button fill="clear"
                    (click)="friendRequestService.askIfNotAddFriend(user.username, false)">
          <ion-icon name="person-add" slot="icon-only" color="success"></ion-icon>
        </ion-button>
      </ion-col>


    <ion-col *ngIf="user.boolFriend[0]">
      <ion-button fill="clear" (click)="actionSheetRemoveFriend(user.username)">
        <ion-icon name="person-remove" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col *ngIf="user.boolExitingFriendRequest[0]">
      <p>{{languageService.dictionary.data?.components.add.requestSent}}</p>
      <ion-button fill="clear" (click)="friendRequestService.cancelFriendRequest(user.username, user.exitingAddFriendNotifId[0].id)">
        <ion-icon name="close" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col *ngIf="user.boolEnteringFriendRequest[0]">
      <p>{{languageService.dictionary.data?.components.add.answerRequest}}</p>
      <ion-button fill="clear" (click)="friendRequestService.askIfNotAddFriend(user.username, false, user.enteringAddFriendNotifId[0].id)">
        <ion-icon name="checkmark" slot="icon-only" color="success"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="friendRequestService.refuseFriendRequest(user.username, false, user.enteringAddFriendNotifId[0].id)">
        <ion-icon name="close" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-col>

      <ion-col>
        <ion-button fill="clear" (click)="actionSheetBlockUser(user)">
          <ion-icon name="trash" slot="icon-only" color="danger"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>

<ion-row>
  <ion-col>
    <ion-spinner color="light" *ngIf="pagesService.waiting"></ion-spinner>
  </ion-col>
</ion-row>

<app-common-pages-system-footer></app-common-pages-system-footer>
