app-nomenclature{
  position: absolute;
  left:0;
  z-index: 2;
}

#content {
  margin-top: 100px;
  height:250px;
  border-radius:20px;
  ion-item, h1{
    font-size: 1.5em;
    text-align:center;
    border-radius: 20px;
    margin-top: 5px;
  }
}

.smallDeviceContent{
  width: 100%;
}

.mediumDeviceContent{
  width: 70%;
  margin:auto;
}

.largeDeviceContent{
  width: 40%;
  margin:auto;
}

.eyes{
  margin-top: 40px;
  ion-icon{
    color: #6666f6;
    -webkit-transition: color 2s ease-out;
    font-size: 1.5em;
  }
}

.eyes:hover{
  margin-top: 40px;
  ion-icon{
    color: #c5e5fd;
  }
}

#submitButton{
  margin-top: 20px;
  p{
    margin-right:5px;
    font-weight: bold;
  }
}
