<ion-content>
  <ion-grid [formGroup]="formControl">
    <ion-row>
      <ion-col>
        <h1>Enter your new password</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <app-nomenclature [data]="'password'" [modalName]="'password'"></app-nomenclature>
      </ion-col>
      <ion-col>
        <ion-item fill="solid">
          <ion-label position="floating">
            {{languageService.dictionary.data?.components.signUp.password}}
          </ion-label>
          <ion-input [type]="showPassword?'text':'password'"
                     [placeholder]="languageService.dictionary.data?.components.signUp.password"
                     formControlName="password" class="form-control">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1">
        <ion-button color="light" size="small" fill="clear" class="eyes" (click)="showPassword = !showPassword">
          <ion-icon [name]="showPassword?'eye-off':'eye'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{output}}</p>
        <p id="clickableMail" *ngIf="mailError" (click)="copyEmail()">{{supportEmail}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" push="6">
        <ion-button id="submitButton" shape="round" color="success" (click)="mailSignUp()"
                    [disabled]="!formControl.valid" *ngIf="!waiting"
                    [color]="formControl.valid?'success':'danger'">
          <p>{{languageService.dictionary.data?.components.signUp.send}}</p>
          <ion-icon name="send"></ion-icon>
        </ion-button>
        <ion-spinner name="lines" *ngIf="waiting"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
