ion-grid{
  margin-top:50px;
  --ion-grid-columns: 13;
  width:80%;
}

ion-item{
  background: rgba(56, 54, 54, 0.82);
  border: solid 1px #615c5c;
  border-radius:15px;
  margin:auto;
  width:250px;
  text-align:center;
}

ion-input{
  border-radius:15px;
}

ion-icon:hover{
  cursor:pointer;
}
