<ion-content>
  <ion-grid>
    <ion-row>
      <ion-button color="clear" style="position:absolute; left:10px; top:10px;" (click)="router.navigateByUrl('/connection')">
        <ion-icon name="arrow-undo" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-row>
<!--    if token is in the queue-->
    <div *ngIf="retour && retour.status">
      <ion-row>
        <ion-col>
          <ion-item color="none" shape="round">
            <ion-label color="secondary"
                       position="floating">{{translate.dictionnary.account ? translate.dictionnary.account[6].data : ''}}</ion-label>
            <ion-input clearInput="true" color="secondary"
                       placeholder="{{translate.dictionnary.account ? translate.dictionnary.account[6].data : ''}}"
                       [type]="loginService.showPassword?'text':'password'" [(ngModel)]="loginService.password"
                       (ionChange)="loginService.checkPassword(loginService.password)"
                       [style.background-color]="loginService.arePasswordsOK?'':'rgba(132,42,42,0.51)'" minlength="7" maxlength="30">
            </ion-input>
            <ion-icon [name]="loginService.showPassword?'eye':'eye-off'" (click)="loginService.toggleShowPassword()" slot="end"></ion-icon>
            <ion-icon name="warning-outline" color="danger" *ngIf="loginService.outputPassword"></ion-icon>
            <p *ngIf="loginService.outputPassword" class="warningText">{{loginService.outputPassword}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="none" shape="round">
            <ion-label color="secondary"
                       position="floating">{{translate.dictionnary.account ? translate.dictionnary.account[7].data : ''}}</ion-label>
            <ion-input clearInput="true" color="secondary"
                       placeholder="{{translate.dictionnary.account ? translate.dictionnary.account[7].data : ''}}"
                       [type]="loginService.showConfPassword?'text':'password'" [(ngModel)]="loginService.confPassword"
                       (ionChange)="loginService.checkPassword(loginService.confPassword, true)"
                       [style.background-color]="loginService.arePasswordsOK?'':'rgba(132,42,42,0.51)'" minlength="7" maxlength="30">
            </ion-input>
            <ion-icon [name]="loginService.showConfPassword?'eye':'eye-off'" (click)="loginService.toggleShowConfPassword()" slot="end"></ion-icon>
            <ion-icon name="warning-outline" color="danger" *ngIf="loginService.outputConfPassword"></ion-icon>
            <p *ngIf="loginService.outputConfPassword" class="warningText">{{loginService.outputConfPassword}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success" shape="round"
                      *ngIf="loginService.password&&loginService.confPassword
                        &&loginService.password===loginService.confPassword&&!waiting&&!loginService.outputPassword
                        &&!loginService.outputConfPassword"
                      (click)="submit()">
            {{translate.dictionnary.shared ? translate.dictionnary.shared[1].data : ''}}
          </ion-button>
          <ion-spinner name="lines" *ngIf="waiting"></ion-spinner>
        </ion-col>
      </ion-row>
    </div>
<!--    when token isn't in the queue-->
    <div *ngIf="retour && !retour.status">
      <ion-row>
        <ion-col>
          {{translate.dictionnary.mail ? translate.dictionnary.mail[5].data : ''}}
        </ion-col>
      </ion-row>
    </div>
<!--    during request-->
    <div *ngIf="!retour">
      <ion-row>
        <ion-col>
          <ion-spinner name="lines"></ion-spinner>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
