<ion-grid>
  <ion-row>
    <ion-list-header color="light">
      <strong>{{translate.dictionnary.account ? translate.dictionnary.account[4].data : ''}}</strong>
    </ion-list-header>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[1].data : ''}}: 7
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[2].data : ''}}: 20
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[3].data : ''}}
      : {{loginService.letters}}
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[4].data : ''}}
      : {{loginService.numbers}}
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[5].data : ''}}
      : {{loginService.specialChars}}
    </ion-text>
  </ion-row>
  <ion-list-header color="light">
    <strong>{{translate.dictionnary.account ? translate.dictionnary.account[5].data : ''}}</strong>
  </ion-list-header>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[1].data : ''}}: 7
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[2].data : ''}}: 50
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[6].data : ''}} @
    </ion-text>
  </ion-row>
  <ion-list-header color="light">
    <strong>{{translate.dictionnary.account ? translate.dictionnary.account[6].data : ''}}s</strong>
  </ion-list-header>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[1].data : ''}}: 7
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[2].data : ''}}: 30
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[3].data : ''}}
      : {{loginService.letters}}
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[4].data : ''}}
      : {{loginService.numbers}}
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[5].data : ''}}
      : {{loginService.specialChars}}
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[7].data : ''}}
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text>
      <ion-icon name="radio-button-on-outline"></ion-icon>
      {{translate.dictionnary.nomenclature ? translate.dictionnary.nomenclature[8].data : ''}}
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="clear" shape="round" (click)="modalController.dismiss()">
        <ion-icon name="close-circle" slot="icon-only" size="large" color="warning"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
