<app-menu></app-menu>

<ion-grid>
  <ion-row *ngIf="devicePlatformService.currentPlatform==='large'">
    <ion-col size="3">
      <ion-row>
        <ion-col>
          <app-add-friend-button [modalClosed]="modalClosed"></app-add-friend-button>
        </ion-col>
        <ion-col>
          <app-blocked-users-button [modalClosed]="modalClosed"></app-blocked-users-button>
        </ion-col>
      </ion-row>
      <ion-row style="height:100vh">
        <ion-col>
          <app-side-bar></app-side-bar>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="devicePlatformService.currentPlatform==='small'">
    <ion-row>
      <ion-col>
        <app-add-friend-button [modalClosed]="modalClosed"></app-add-friend-button>
      </ion-col>
      <ion-col>
        <app-blocked-users-button [modalClosed]="modalClosed"></app-blocked-users-button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 100vh;">
      <ion-col>
        <app-side-bar></app-side-bar>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-grid>
