<ion-row>
  <ion-col size="8">
    <nav>
      <app-default-menu-item *ngFor="let menuItem of menuItems"
                             [menuItem]="menuItem"
                             [id]="'menuItem'+menuItems.indexOf(menuItem)">
      </app-default-menu-item>
      <div id="indicator"></div>
    </nav>
  </ion-col>
  <ion-col></ion-col>
  <ion-col size="2">
    <ion-item button="true" color="transparent" id="profile">
      <ion-icon name="person"
                [id]="cookieService.getUsername()?'connectedIcon':'disconnectedIcon'">
      </ion-icon>
    </ion-item>
    <ion-item button="true" color="transparent">
      <ion-icon name="notifications" color="warning"></ion-icon>
      <ion-badge>{{notificationService.getNotifications().length}}</ion-badge>
    </ion-item>
  </ion-col>
  <ion-col size="1">
    <app-ion-fab-language size="small"></app-ion-fab-language>
  </ion-col>
</ion-row>

<ion-popover trigger="profile">
  <ng-template>
    <ion-content>
      <app-profile-popover [signOut]="signOut"></app-profile-popover>
    </ion-content>
  </ng-template>
</ion-popover>
