ion-row {
  border-bottom: 1px solid rgba(148, 148, 148, 0.5);
  height: 40px;

  .bold{
    font-weight: bold;
  }

  nav {
    text-align: left;
    margin: 20px auto;
    transform: translateY(-50%);
  }

  #indicator {
    position: absolute;
    left: 5%;
    bottom: -1vh;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    transition: 0.2s ease left;
  }

  app-default-menu-item:nth-child(1):hover ~ #indicator {
    left: calc(5vw + 55px);
    background: linear-gradient(130deg, yellow, red);
  }

  app-default-menu-item:nth-child(2):hover ~ #indicator {
    left: calc(10vw + 165px);
    background: linear-gradient(130deg, #00e2ff, #89ff00);
  }

  app-default-menu-item:nth-child(3):hover ~ #indicator {
    left: calc(15vw + 265px);
    background: linear-gradient(130deg, purple, palevioletred);
  }

  ion-item {
    width: 60px;
    height: 40px;
    ion-icon {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  #connectedIcon{
    color: green;
  }
  #disconnectedIcon{
    color: red;
  }

  #connectedIcon:hover, #disconnectedIcon:hover {
    color: #fff;
  }
}
