ion-menu{
  --width: 100%;
}

#menuFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#username{
  margin-top: 10px;
  font-weight: bold;
}

#signOut{
  display: inline-block;
  margin-right:20px;
}
