h1.app-name {
  margin-left: 5%;
}

.sidenav-container {
  flex: 1;
  height:100%;
}

mat-sidenav{
  width:100%;
}

.menuBlock{
  margin-bottom:20px;
}

#menuFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#username{
  margin-top: 10px;
  font-weight: bold;
}
