h1.app-name {
  margin-left: 5%;
}

*{
  border: transparent;
}

.sidenav-container {
  flex: 1;
  height:100%;
  ion-item{
    --background: transparent;
    --border: solid 1px transparent;
  }
}

mat-sidenav{
  width:100%;
  background-color: var(--ion-color-light);
}

#menuFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#username{
  margin-top: 10px;
  font-weight: bold;
}
