<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #menu>
    <ion-row style="margin-bottom:20px;">
      <ion-col size="1">
        <ion-button fill="clear" (click)="toggleSidenav()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <p>{{cookieService.getUsername()}}</p>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-item class="menuBlock" button="true" [color]="devicePlatformService.getDeviceTheme()==='dark'?'':'dark'">
      <ion-row>
        <ion-col size="1">
          <ion-icon name="person"></ion-icon>
        </ion-col>
        <ion-col>
          <p>Account</p>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="menuBlock" button="true" [color]="devicePlatformService.getDeviceTheme()==='dark'?'':'dark'">
      <ion-row>
        <ion-col size="1">
          <ion-icon name="people"></ion-icon>
        </ion-col>
        <ion-col>
          <p>Friends</p>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="menuBlock" button="true" [color]="devicePlatformService.getDeviceTheme()==='dark'?'':'dark'">
      <ion-row>
        <ion-col size="1">
          <ion-icon name="send"></ion-icon>
        </ion-col>
        <ion-col>
          <p>Messages</p>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </mat-sidenav>

  <mat-sidenav-content *ngIf="!sidenavIsOpen">
    <ion-button fill="clear" (click)="toggleSidenav()">
      <ion-icon name="menu" slot="icon-only"></ion-icon>
    </ion-button>
  </mat-sidenav-content>
</mat-sidenav-container>
