<ion-fab-button color="warning" id="language" size="large">
  <ion-icon name="language" color="light"></ion-icon>
</ion-fab-button>

<ion-modal trigger="language">
  <ng-template>
    <ion-content>
      <div *ngFor="let line of languageService.languagesList" class="flag-box">
        <img
          class="flag"
          [id]="languageService.dictionary?languageService.dictionary.header.tag===line.id?'selected':'':''"
          [src]="apiURL + '/files/img/flags/png/'+line.id+'.png'"
          title="{{line.name}}"
          alt="{{line.name}}"
          (click)="languageService.updateLanguage(line.id)">
      </div>
    </ion-content>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <ion-toolbar>
            <ion-button fill="clear" shape="round" (click)="modalController.dismiss()">
              <ion-icon name="close-circle" slot="icon-only" size="large" color="warning"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-modal>
