<ion-searchbar
  [(ngModel)]="pagesService.commonFilter"
  (ionChange)="pagesService.setUsers('Others', 1)"
  [placeholder]="languageService.dictionary.data?.components.blocked.search">
</ion-searchbar>

<div *ngFor="let user of pagesService.getBlocked()" class="user">
  <div *ngIf="!pagesService.waiting">
    <ion-row>
      <ion-col>
        <p>{{user.username}}</p>
      </ion-col>
      <ion-col>
        <ion-button (click)="actionSheetUnblockUser(user.username)" color="danger" shape="round" size="small">
          {{languageService.dictionary.data?.components.blocked.unblock}}
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>
<ion-spinner color="light" *ngIf="pagesService.waiting"></ion-spinner>

<app-common-pages-system-footer></app-common-pages-system-footer>
