<ion-searchbar [(ngModel)]="pagesService.filter" (ionChange)="pagesService.setUsers('Blocked', 1)"></ion-searchbar>

<div *ngFor="let user of pagesService.getUsers()" class="user">
  <div *ngIf="!pagesService.waiting">
    <p>{{user.username}}</p>

    <ion-button (click)="actionSheetUnblockUser(user.username)" color="danger">
      Unblock
    </ion-button>
  </div>
  <ion-spinner color="light" *ngIf="pagesService.waiting"></ion-spinner>
</div>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button
        fill="clear"
        (click)="pagesService.setUsers('Blocked', pagesService.getCurrentPage()-1)"
        [disabled]="pagesService.getCurrentPage() === 1">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-label>{{pagesService.getCurrentPage()}}/{{pagesService.getTotalPages()}}</ion-label>
    </ion-col>
    <ion-col>
      <ion-button
        fill="clear"
        (click)="pagesService.setUsers('Blocked', pagesService.getCurrentPage()+1)"
        [disabled]="pagesService.getCurrentPage() === pagesService.getTotalPages()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
