.user{
  margin-top: 10px;
  border: solid 1px rgba(255, 255, 255, 0.51);
  border-radius: 10px;
  p{
    color: #cea7a7;
    font-size: 1.2em;
    margin-top:10px;
    font-weight: bold;
  }
  ion-button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
