<ion-grid id="content">
  <ion-row>
    <ion-col>
      <ion-card [id]="devicePlatformService.currentPlatform==='mobile'?'mobileContent':'desktopContent'">
        <ion-card-content [formGroup]="formControl">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">
                  {{languageService.dictionary.data ? languageService.dictionary.data.components.signUp.username : ''}}
                </ion-label>
                <ion-input type="text"
                           [placeholder]="languageService.dictionary.data ? languageService.dictionary.data.components.signUp.username : ''"
                           formControlName="username" class="form-control">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">
                  {{languageService.dictionary.data ? languageService.dictionary.data.components.signUp.email : ''}}
                </ion-label>
                <ion-input type="text"
                           [placeholder]="languageService.dictionary.data ? languageService.dictionary.data.components.signUp.email : ''"
                           formControlName="email" class="form-control">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">
                  {{languageService.dictionary.data ? languageService.dictionary.data.components.signUp.password : ''}}
                </ion-label>
                <ion-input [type]="showPassword?'text':'password'"
                           [placeholder]="languageService.dictionary.data ? languageService.dictionary.data.components.signUp.password : ''"
                           formControlName="password" class="form-control">
                </ion-input>
              </ion-item>
              <ion-fab style="top:35px; right:0;">
                <ion-fab-button color="light" size="small" (click)="showPassword = !showPassword">
                  <ion-icon [name]="showPassword?'eye-off':'eye'"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">
                  {{languageService.dictionary.data ? languageService.dictionary.data.components.signUp.confirmPassword : ''}}
                </ion-label>
                <ion-input [type]="showConfirmPassword?'text':'password'"
                           [placeholder]="languageService.dictionary.data ? languageService.dictionary.data.components.signUp.confirmPassword : ''"
                           formControlName="confirmPassword" class="form-control">
                </ion-input>
              </ion-item>
              <ion-fab style="top:35px; right:0;">
                <ion-fab-button color="light" size="small" (click)="showConfirmPassword = !showConfirmPassword">
                  <ion-icon [name]="showConfirmPassword?'eye-off':'eye'"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>{{output}}</p>
              <p id="clickableMail" *ngIf="mailError" (click)="copyEmail()">{{supportEmail}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="!waiting">
              <ion-button expand="block" id="submitButton" shape="round" color="success" strong="true" (click)="mailSignUp()"
              [disabled]="!formControl.valid">
                Sign up
              </ion-button>
            </ion-col>
            <ion-col *ngIf="waiting">
              <ion-spinner name="lines"></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-fab horizontal="start" vertical="bottom">
  <app-nomenclature></app-nomenclature>
</ion-fab>
