ion-icon{
  color: white;
}
ion-item {
  color: white;
  width: 100%;
  --background: transparent;
  p, ion-icon{
    -webkit-transition: color .7s ease;
  }
}
ion-item:hover{
  p, ion-icon{
    color: #a8a5a5;
  }
}
#signOut{
  background-color: #6d0707;
  -webkit-transition: background-color .7s ease;
}
#signOut:hover{
  background-color: #920909;
}
