<ion-icon name="information-circle" [id]="modalName" class="clickableIcon"></ion-icon>

<ion-modal [trigger]="modalName">
  <ng-template>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{data}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-row>
        <ion-col>
            <ion-button shape="round" (click)="modalController.dismiss()">Close</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ng-template>
</ion-modal>
