<ion-content>
  <ion-img src="./assets/icon/favicon.png" id="logo"></ion-img>
  <ion-fab horizontal="end" vertical="bottom">
    <app-language></app-language>
  </ion-fab>
  <ion-fab horizontal="start" vertical="bottom">
    <ion-fab-button id="info" size="small" color="clear">
      <ion-icon name="help-circle-outline" color="medium" id="infoIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item color="none" shape="round">
          <ion-label color="secondary"
                     position="floating">{{translate.dictionnary.account ? translate.dictionnary.account[4].data : ''}}</ion-label>
          <ion-input clearInput="true" color="secondary"
                     placeholder="{{translate.dictionnary.account ? translate.dictionnary.account[4].data : ''}}"
                     [(ngModel)]="username" minlength="3" maxlength="20" (ionChange)="checkUsername()"></ion-input>
          <ion-icon name="warning-outline" color="danger" *ngIf="outputUsername"></ion-icon>
          <p *ngIf="outputUsername" class="warningText">{{outputUsername}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item color="none" shape="round">
          <ion-label color="secondary"
                     position="floating">{{translate.dictionnary.account ? translate.dictionnary.account[5].data : ''}}</ion-label>
          <ion-input clearInput="true" color="secondary"
                     placeholder="{{translate.dictionnary.account ? translate.dictionnary.account[5].data : ''}}"
                     type="email" [(ngModel)]="email" minlength="7" maxlength="50"
                     (ionChange)="checkEmail()"></ion-input>
          <ion-icon name="warning-outline" color="danger" *ngIf="outputEmail"></ion-icon>
          <p *ngIf="outputEmail" class="warningText">{{outputEmail}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item color="none" shape="round">
          <ion-label color="secondary"
                     position="floating">{{translate.dictionnary.account ? translate.dictionnary.account[6].data : ''}}</ion-label>
          <ion-input clearInput="true" color="secondary"
                     placeholder="{{translate.dictionnary.account ? translate.dictionnary.account[6].data : ''}}"
                     [type]="loginService.showPassword?'text':'password'" [(ngModel)]="loginService.password"
                     (ionChange)="loginService.checkPassword(loginService.password)"
                     [style.background-color]="loginService.arePasswordsOK?'':'rgba(132,42,42,0.51)'" minlength="7" maxlength="30">
          </ion-input>
          <ion-icon [name]="loginService.showPassword?'eye':'eye-off'" (click)="loginService.toggleShowPassword()" slot="end"></ion-icon>
          <ion-icon name="warning-outline" color="danger" *ngIf="loginService.outputPassword"></ion-icon>
          <p *ngIf="loginService.outputPassword" class="warningText">{{loginService.outputPassword}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item color="none" shape="round">
          <ion-label color="secondary"
                     position="floating">{{translate.dictionnary.account ? translate.dictionnary.account[7].data : ''}}</ion-label>
          <ion-input clearInput="true" color="secondary"
                     placeholder="{{translate.dictionnary.account ? translate.dictionnary.account[7].data : ''}}"
                     [type]="loginService.showConfPassword?'text':'password'" [(ngModel)]="loginService.confPassword"
                     (ionChange)="loginService.checkPassword(loginService.confPassword, true)"
                     [style.background-color]="loginService.arePasswordsOK?'':'rgba(132,42,42,0.51)'" minlength="7" maxlength="30">
          </ion-input>
          <ion-icon [name]="loginService.showConfPassword?'eye':'eye-off'" (click)="loginService.toggleShowConfPassword()" slot="end"></ion-icon>
          <ion-icon name="warning-outline" color="danger" *ngIf="loginService.outputConfPassword"></ion-icon>
          <p *ngIf="loginService.outputConfPassword" class="warningText">{{loginService.outputConfPassword}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="output">
      <ion-col>
        <p>{{output}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col push="3" *ngIf="username&&email&&loginService.password&&loginService.confPassword
                        &&loginService.password===loginService.confPassword
                        &&!waiting&&!outputUsername&&!loginService.outputPassword
                        &&!loginService.outputConfPassword&&!outputEmail">
        <ion-button color="clear" shape="round" (click)="signUp()">
          <ion-icon name="send" slot="icon-only" color="secondary" style="border: solid 2px #3dc2ff; border-radius:15px; padding:5px"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="waiting">
        <ion-spinner name="lines"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal trigger="info">
  <ng-template>
    <ion-content>
      <app-nomenclature></app-nomenclature>
    </ion-content>
  </ng-template>
</ion-modal>
