ion-button{
  //margin-left: 5vw;
  display:inline-block;
  color: #a09797;
  -webkit-transition: color 0.4s ease;
  flex: auto;
  padding: 0 50px;
}

ion-button:hover{
  color: #fff;
  cursor: pointer;
}

p:hover{
  --color: #fff;
}

.bold{
  font-weight: bold;
}
