<ion-content>

  <app-moon-background></app-moon-background>

  <ion-fab vertical="bottom" horizontal="end">
    <app-language></app-language>
  </ion-fab>

<ion-item>
  <ion-segment value="true" color="warning"
               [id]="devicePlatformService.currentPlatform==='mobile'?'ionSegmentMobile':'ionSegmentDesktop'">
    <ion-segment-button value="true" (click)="loadComponent('signIn')">
      <ion-label [id]="displayedComponent==='signIn'?'selected':''">
        {{languageService.dictionary.data ? languageService.dictionary.data.components.connection.signIn : ''}}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="false" (click)="loadComponent('signUp')">
      <ion-label [id]="displayedComponent==='signUp'?'selected':''">
        {{languageService.dictionary.data ? languageService.dictionary.data.components.connection.signUp : ''}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-item>

  <app-sign-in [@signIn]="signInAnimationState"></app-sign-in>
  <app-sign-up [@signIn]="signUpAnimationState" [hidden]="blockDisplaySignUpOnLoading"></app-sign-up>

</ion-content>
