<body >
<ion-content>
  <ion-segment value="true" [id]="currentPlatform==='mobile'?'mobile':'desktop'">
    <ion-segment-button value="true" (click)="hasAnAccount=!hasAnAccount">
      <ion-label>Sign in</ion-label>
    </ion-segment-button>
    <ion-segment-button value="false" (click)="hasAnAccount=!hasAnAccount">
      <ion-label>Sign up</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-sign-in *ngIf="hasAnAccount"></app-sign-in>
  <app-sign-up *ngIf="!hasAnAccount"></app-sign-up>
</ion-content>
</body>
