#ionSegmentMobile{
  position: absolute;
  bottom:0;
}

ion-card{
  border-radius:10%;
}

#desktopContent{
  margin: 10% auto auto;
  width:30%;
}

#mobileContent{
  margin: 25% auto auto;
}

ion-item{
  text-align:center;
}

#submitButton{
  margin: 10% auto auto;
  width: 50%;
}

#content ion-item {
  font-size: 1.5em;
}

#selected{
  font-weight: bold;
}

#clickableMail{
  color: #007bff;
  text-decoration: underline;
}

#clickableMail:hover{
  cursor: pointer;
}

#forgotPassword{
  color: #007bff;
}

#forgotPassword:hover{
  cursor: pointer;
  text-decoration: underline;
}

.eyes{
  margin-top: 40px;
  ion-icon{
    color: #6666f6;
    -webkit-transition: color 2s ease-out;
  }
}

.eyes:hover{
  margin-top: 40px;
  ion-icon{
    color: #c5e5fd;
  }
}
