<ion-segment value="false">
  <ion-segment-button value="false" (click)="switchHaveAnAccount(false)">
    <ion-label>{{translate.dictionnary.account ? translate.dictionnary.account[3].data : ''}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="true" (click)="switchHaveAnAccount(true)">
    <ion-label>{{translate.dictionnary.account ? translate.dictionnary.account[2].data : ''}}</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <app-signin *ngIf="haveAnAccount"></app-signin>
  <app-signup *ngIf="!haveAnAccount"></app-signup>
</ion-content>

