ion-card{
  border-radius:10%;
}

ion-segment-button{
  color: white;
}

#smallDeviceSegment{
  position: absolute;
  bottom:0;
  width: 100%;
}

#mediumDeviceSegment, #largeDeviceSegment{
}

.smallDeviceContent{
  width: 100%;
}

.mediumDeviceContent{
  width: 70%;
  margin:auto;
}

.largeDeviceContent{
  width: 40%;
  margin:auto;
}

#content {
  margin-top: 100px;
  ion-item, h1{
    font-size: 1.5em;
    text-align:center;
    border-radius: 20px;
    margin-top: 5px;
  }
}

app-nomenclature{
  position: absolute;
  left:0;
  z-index: 2;
}

#selected{
  font-weight: bold;
}

#clickableMail{
  color: #007bff;
  text-decoration: underline;
}

#clickableMail:hover{
  cursor: pointer;
}

#forgotPassword{
  color: #007bff;
}

#forgotPassword:hover{
  cursor: pointer;
  text-decoration: underline;
}

.eyes{
  margin-top: 40px;
  ion-icon{
    color: #6666f6;
    -webkit-transition: color 2s ease-out;
  }
}

.eyes:hover{
  margin-top: 40px;
  ion-icon{
    color: #c5e5fd;
  }
}

#submitButton{
  margin-top: 20px;
  p{
    margin-right:5px;
    font-weight: bold;
  }
  color: var(--ion-color-primary);
}
