<ion-grid id="content">
  <ion-row>
    <ion-col>
      <ion-card [id]="devicePlatformService.currentPlatform==='mobile'?'mobileContent':'desktopContent'">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Email or username</ion-label>
                <ion-input placeholder="Username" [(ngModel)]="username"
                (ionBlur)="checkUsername()" (ionFocus)="focusing = true"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input placeholder="Password" [type]="showPassword?'text':'password'"
                [(ngModel)]="password" (ionBlur)="checkPassword()" (ionFocus)="focusing = true"></ion-input>
              </ion-item>
              <ion-fab style="top:35px; right:0;">
                <ion-fab-button color="light" size="small" (click)="showPassword = !showPassword">
                  <ion-icon [name]="showPassword?'eye-off':'eye'"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>{{output}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" id="submitButton" shape="round" color="success" strong="true"
                          (click)="signIn()" *ngIf="username && password && !output && !focusing">
                Sign in
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
