<ion-grid id="content">
  <ion-row>
    <ion-col>
      <ion-card [id]="devicePlatformService.currentPlatform==='mobile'?'mobileContent':'desktopContent'">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">
                  {{languageService.dictionary.data ? languageService.dictionary.data.components.signIn.emailOrUsername : ''}}
                </ion-label>
                <ion-input
                  [placeholder]="languageService.dictionary.data ? languageService.dictionary.data.components.signIn.emailOrUsername : ''"
                  [(ngModel)]="identifier" type="text">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">
                  {{languageService.dictionary.data ? languageService.dictionary.data.components.signIn.password : ''}}
                </ion-label>
                <ion-input
                  [placeholder]="languageService.dictionary.data ? languageService.dictionary.data.components.signIn.password : ''"
                  [type]="showPassword?'text':'password'"
                  [(ngModel)]="password" type="text">
                </ion-input>
              </ion-item>
              <ion-fab style="top:35px; right:0;">
                <ion-fab-button color="light" size="small" (click)="showPassword = !showPassword">
                  <ion-icon [name]="showPassword?'eye-off':'eye'"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>{{output}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="!waiting">
              <ion-button expand="block" id="submitButton" shape="round" color="success" strong="true"
                          (click)="signIn()" *ngIf="identifier && password">
                Sign in
              </ion-button>
            </ion-col>
            <ion-col *ngIf="waiting">
              <ion-spinner name="lines"></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
