<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item color="none" shape="round">
        <ion-label color="secondary"
                   position="floating">{{translate.dictionnary.account ? translate.dictionnary.account[5].data : ''}}</ion-label>
        <ion-input clearInput="true" color="secondary"
                   placeholder="{{translate.dictionnary.account ? translate.dictionnary.account[5].data : ''}}"
                   type="email" [(ngModel)]="email" minlength="7" maxlength="50"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top:10px;">
    <ion-col *ngIf="email&&!waiting">
      <ion-icon name="send" color="success" size="large" (click)="submit()"></ion-icon>
    </ion-col>
    <ion-col *ngIf="waiting">
      <ion-spinner name="lines"></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      {{output}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div style="position: fixed; left: 0; bottom: 10px; right: 0;">
        <ion-button color="clear" shape="round" (click)="modalController.dismiss()">
          <ion-icon name="close-circle" slot="icon-only" size="large" color="warning"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
